html
	head
		link(rel='stylesheet', href='/cloud.css')
	body

		#help
			a.helpButton(href='/data') node js real dev language

	

		script(src='/js/jquery.js')
		// Bootstrap Core JavaScript
		script(src='/js/bootstrap.js')