body {
	/*To hide the horizontal scroller appearing during the animation*/
	background: rgba(100,200,220, 0.9);
	font-family: Sans-serif;
}

#objects{
	background: white;
	width: 300px;
	opacity: .8;
	margin: 0 auto;
	text-align: center;
}

#boxes{
	margin: 0 auto;
	margin-top: 25px;
	opacity: 0.65;
	width: 750px;
	font-size: 16px;
	background: white;
	padding: 10px;
	border: 2px solid;
	border-radius: 20px;

}

.best{
	font-style: bold;
}

table{
	text-align: center;
}

th{
	text-align: center;
}